.card {
    border: 1px solid #e9e8e8;
    max-width: 1040px;
    overflow-y: auto;
    background: #fff;
    border-radius: 16px;
    display: flex;
    position: relative;
    padding: 56px 56px 64px 56px;
}

.card__close {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    background-image: url(../assets/img/close-big.png);
}

/* ---------------------------------LEFT SIDE STYLES */
.card__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 24px;
    max-width: 396px;
}

.card__little-images {
    height: 50px;
    display: flex;
    flex-flow: wrap;
    -webkit-gap: 8px;
    -moz-gap: 8px;
    -ms-gap: 8px;
    -o-gap: 8px;
    gap: 8px;
    margin-top: 16px;
}

.card__images--active {
    border: 1px solid #2a81dd;
    border-radius: 8px;
}

/* --------------------------------RIGHT SIDE STYLES */
.card__heading {
    margin-top: 24px;
}

.card__info {
    width: 573px;
    align-self: center;
    padding-top: 8px;
}

.card__title {
    line-height: 32px;
    font-weight: normal;
    font-size: 20px;
}

.card__top {
    position: relative;
}

.card__price {
    line-height: 32px;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 0;
}

.card__button {
    cursor: pointer;
    color: #fff;
    width: 134px;
    height: 36px;
    background: #2a81dd;
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 14px;
}

.card__balance {
    width: 195px;
    height: 68px;
    background: #f0fafd;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-gap: 12px;
    -moz-gap: 12px;
    -ms-gap: 12px;
    -o-gap: 12px;
    gap: 12px;
    position: absolute;
    right: 0;
    top: 48px;
}

.card__balance-info {
    margin-left: 16px;
}

.card__balance-info--gray {
    color: $gray;
    font-size: 14px;
}

.card__sum {
    color: $black;
    font-size: 16px;
    padding-top: 4px;
}

.card__logo {
    width: 65px;
    height: 40px;
    background-image: url(../assets/svg/balance-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

/* -----------------------------------------RADIO ELEMENTS */
.card__radio-group input[type='radio'] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.card__radio-group--color {
    padding: 8px;
    padding-left: 39px;
    margin-right: 8px;
    margin-top: 8px;
}

.card__square {
    width: 23px;
    height: 24px;
    border-radius: 4px;
    position: absolute;
    top: 8px;
    left: 8px;
    bottom: 8px;
    right: 65px;
}

.card__square--blue {
    background: #00458a;
}

.card__square--beige {
    background: #efe8d8;
}

.card__square--gray {
    background: #d4d4da;
}

.card__radio-group--size {
    width: 40px;
    padding: 8px;
    text-align: center;
    margin-right: 8px;
    margin-top: 8px;
}

/* --------------------------------------LOWER TEXT STYLES */
.card__heading--bold {
    font-weight: 600;
    margin-bottom: 4px;
}
