.user-block {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 52px;
    text-decoration: none;
    transition: all 0.2s ease-out;
}

.user-block:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-out;
}

.user-block__info {
    padding-left: 16px;
}

.user-block__name {
    font-size: 14px;
    color: #2a81dd;
    font-weight: 600;
}

.user-block__points {
    font-size: 13px;
    line-height: 20px;
}
