#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border: 1px solid black;
    width: 1040px;
    height: 588px;
    background: #fff;
    display: flex;
}

.card__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 24px 136px 56px;
}

.card__image__little {
    display: flex;
    gap: 8px;
    margin-top: 16px;
}
