@import url(modal-card.css);

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #1c1819;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

.content-container {
    max-width: 1440px;
    display: grid;
    grid-template-areas:
        'header header'
        'aside content'
        'footer footer';
    grid-template-columns: 200px 1fr;
    grid-template-rows: 48px 1fr 100px;
    margin: 0 auto;
    height: 100vh;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 40px;
}

/* HEADER STYLES */
.header {
    grid-area: header;
    display: flex;
    align-items: center;
}

.header__search {
    display: flex;
    width: 308px;
    background: #f2f2f3;
    border-radius: 8px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 66px;
}

.header__search__icon {
    border: none;
    cursor: pointer;
}

.header__search input {
    border: none;
    background-color: transparent;
    font-size: 18px;
    margin-left: 16px;
}

.header__search input::placeholder {
    color: #888b94;
}

.user-block {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 52px;
}

.user-block__info {
    padding-left: 16px;
}

.user-block__name {
    font-size: 14px;
    color: #2a81dd;
    font-weight: 600;
    line-height: 24px;
}

.user-block__points {
    font-size: 13px;
    line-height: 20px;
}

/* ASIDE STYLES */
.aside {
    grid-area: aside;
    background: gray;
    align-self: flex-start;
}

.main {
    grid-area: content;
    background: blue;
}

.footer {
    grid-area: footer;
    background: red;
    height: 30px;
    align-self: flex-end;
}
