$black: #1c1819;
$full-white: #fff;
$white: #f2f2f3;
$blue: #2a81dd;
$radio-color: #d6ecfb;
$gray: #888b94;
$green: #64bd38;
$red: #f33;
$light-green: #eff8eb;
$dark-green: #8da184;
$light-yellow: #fffae7;
$dark-yellow: #b8b094;
$light-blue: #e9f2fb;
$dark-blue: #8f9faf;
$shadow-color: #1c18191a;
$card-border: #e9e8e8;
$modal-blue: #00458a;
$modal-beige: #efe8d8;
$modal-gray: #d4d4da;
$modal-balance-color: #f0fafd;
